<header>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">La carte</a></li>
            <li><a href="">Réservation</a></li>
        </ul>
    </nav>
</header>