{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="galerie">
		<h3>GALERIE</h3>
		<p>Découvrez nos spécialités culinaires. Des plats traditionnels aux richesses du terroirs de la région de Chambéry.</p>
	</div>
	<div class="card-best">
		{% for dishs in dishs %}
			<div class="card" style="width: 18rem;">
				<img src="{{ vich_uploader_asset(dishs, 'imageFile') }}" alt="" class="img-dish">
				<div class="card-body">
					<p class="card-text">{{ dishs.title }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
	<h3>NOTRE SAVOIR FAIRE</h3>
	<div class="savoir-faire">
		<div class="degustation">
			<h4>Dégustation de vin</h4>
			<img src="{{ asset('images/verre-de-vin.png') }}" alt="" class="img-savoir-faire">
			<p>
				Nous proposons une carte des vins bien fournie, avec des vins de différents cépages.
			</p>
		</div>
		<div class="histoire">
			<h4>Histoire Gastronomique</h4>
			<img src="{{ asset('images/pozole.png') }}" alt=" " class="img-savoir-faire">
			<p>
				Nous racontons une histoire gastronomique, celle de Chambéry.
			</p>
		</div>
	</div>
	<div class="arnaud-michant">
		<h3>ARNAUD MICHANT</h3>
		<P>Arnaud Michant est un célèbre chef cuisinier de Haute-Savoie qui a ouvert un nouveau restaurant appelé "Quai Antique". Sa cuisine est raffinée et met en valeur les produits locaux de la région.</P>
	</div>

	<button class="btn-reservation">
		<a href="#">Réservation</a>
	</button>
{% endblock %}
